In [61]:
import itertools
import plotly
import pandas as pd
import numpy as np
from plotly.graph_objs import *
from plotly.offline import init_notebook_mode, iplot
init_notebook_mode()

In [6]:
raw = pd.read_csv('./binned_metrics_cts.csv')

In [9]:
ct_drop = raw.drop('Unnamed: 0', axis=1)
ct_drop.head(1)

,start_censustract,distance_bins,duration,distance,velocity,BoroCode,mean_income,censustract,avg_travel_time,median_income,poverty_perc
0,1000201,"(0, 2]",10.314488,1.342711,0.130416,Manhattan,36150,1000201,31.536388,23036,44.8

In [30]:
# these are the columns to analyze
compare_list = ['duration', 'distance', 'velocity', 
                'mean_income', 'avg_travel_time', 
                'median_income', 'poverty_perc']
# build pairs of possible combinations
pairs = list(itertools.combinations(compare_list, 2))

# print out the pairs so you can delete the ones you don't want
for i, v in enumerate(pairs):
    print i, v

0 ('duration', 'distance')
1 ('duration', 'velocity')
2 ('duration', 'mean_income')
3 ('duration', 'avg_travel_time')
4 ('duration', 'median_income')
5 ('duration', 'poverty_perc')
6 ('distance', 'velocity')
7 ('distance', 'mean_income')
8 ('distance', 'avg_travel_time')
9 ('distance', 'median_income')
10 ('distance', 'poverty_perc')
11 ('velocity', 'mean_income')
12 ('velocity', 'avg_travel_time')
13 ('velocity', 'median_income')
14 ('velocity', 'poverty_perc')
15 ('mean_income', 'avg_travel_time')
16 ('mean_income', 'median_income')
17 ('mean_income', 'poverty_perc')
18 ('avg_travel_time', 'median_income')
19 ('avg_travel_time', 'poverty_perc')
20 ('median_income', 'poverty_perc')

In [58]:
# change the index of the delete func to remove the items we don't need to compare
ind2remove = [0, 1, 6, 12, 15, 16, 17, 18, 20]
finalpairs = [x for i,x in enumerate(pairs) if i not in ind2remove]

In [59]:
methods = ['pearson', 'spearman', 'kendall']
test_texts = []
dist_intervals = []
test_results = []
test_methods = []
def stat_analyzer(df, interval):
    for method in methods:
        for pair in finalpairs:
            test_text = pair[0] + ' and ' + pair[1]
            test_texts.append(test_text)
            dist_intervals.append(interval)
            test_results.append(df[pair[0]].corr(df[pair[1]], method=method))
            test_methods.append(method)
#             print method, "%s correlated to %s" % pair, df[pair[0]].corr(df[pair[1]], method=method)
        
dis_intervals = ct_drop.distance_bins.unique()
summary_df = pd.DataFrame(columns=['text', 'result'])
for interval in dis_intervals:
    interval_df = ct_drop[ct_drop['distance_bins']==interval]
    stat_analyzer(interval_df, interval)

test_results = pd.DataFrame({'test_method' : test_methods, 
                             'variables_tested' : test_texts, 
                             'dist_interval': dist_intervals, 
                             'test_result' : test_results})

test_results.head(1)

  dist_interval test_method  test_result          variables_tested
0        (0, 2]     pearson    -0.125734  duration and mean_income

In [60]:
print test_results.shape
test_results.sort_values('test_result')

(396, 4)

    dist_interval test_method  test_result              variables_tested
144      (16, 18]     pearson    -0.284381      duration and mean_income
108      (14, 16]     pearson    -0.277711      duration and mean_income
180      (18, 20]     pearson    -0.257236      duration and mean_income
72       (12, 14]     pearson    -0.250115      duration and mean_income
112      (14, 16]     pearson    -0.224172      distance and mean_income
36       (10, 12]     pearson    -0.212828      duration and mean_income
114      (14, 16]     pearson    -0.205137    distance and median_income
235        (2, 4]    spearman    -0.198229     distance and poverty_perc
223        (2, 4]     pearson    -0.191150     distance and poverty_perc
360       (8, 10]     pearson    -0.182020      duration and mean_income
110      (14, 16]     pearson    -0.181870    duration and median_income
146      (16, 18]     pearson    -0.174140    duration and median_income
255      (20, 22]     pearson    -0.169002     duration and poverty_perc
291        (4, 6]     pearson    -0.167565     duration and poverty_perc
216        (2, 4]     pearson    -0.164535      duration and mean_income
252      (20, 22]     pearson    -0.164192      duration and mean_income
327        (6, 8]     pearson    -0.161295     duration and poverty_perc
126      (14, 16]    spearman    -0.160724    distance and median_income
74       (12, 14]     pearson    -0.159660    duration and median_income
124      (14, 16]    spearman    -0.156955      distance and mean_income
303        (4, 6]    spearman    -0.149755     duration and poverty_perc
288        (4, 6]     pearson    -0.149250      duration and mean_income
182      (18, 20]     pearson    -0.146393    duration and median_income
84       (12, 14]    spearman    -0.142816      duration and mean_income
324        (6, 8]     pearson    -0.142699      duration and mean_income
267      (20, 22]    spearman    -0.139942     duration and poverty_perc
305        (4, 6]    spearman    -0.139744  distance and avg_travel_time
120      (14, 16]    spearman    -0.137956      duration and mean_income
271      (20, 22]    spearman    -0.137103     distance and poverty_perc
247        (2, 4]     kendall    -0.131727     distance and poverty_perc
..            ...         ...          ...                           ...
260      (20, 22]     pearson     0.263781      velocity and mean_income
205      (18, 20]     kendall     0.268225  duration and avg_travel_time
85       (12, 14]    spearman     0.270631  duration and avg_travel_time
325        (6, 8]     pearson     0.278745  duration and avg_travel_time
217        (2, 4]     pearson     0.280038  duration and avg_travel_time
81       (12, 14]     pearson     0.281215    velocity and median_income
337        (6, 8]    spearman     0.282283  duration and avg_travel_time
373       (8, 10]    spearman     0.286995  duration and avg_travel_time
37       (10, 12]     pearson     0.289627  duration and avg_travel_time
153      (16, 18]     pearson     0.298525    velocity and median_income
361       (8, 10]     pearson     0.298655  duration and avg_travel_time
117      (14, 16]     pearson     0.302473    velocity and median_income
229        (2, 4]    spearman     0.303726  duration and avg_travel_time
169      (16, 18]     kendall     0.305105  duration and avg_travel_time
44       (10, 12]     pearson     0.311692      velocity and mean_income
73       (12, 14]     pearson     0.312557  duration and avg_travel_time
289        (4, 6]     pearson     0.319524  duration and avg_travel_time
265      (20, 22]    spearman     0.328021  duration and avg_travel_time
301        (4, 6]    spearman     0.330152  duration and avg_travel_time
253      (20, 22]     pearson     0.339603  duration and avg_travel_time
80       (12, 14]     pearson     0.354605      velocity and mean_income
188      (18, 20]     pearson     0.370457      velocity and mean_income
121      (14, 16]    spearman     0.380928  duration and avg_travel_time
193      (18, 20]    spearman     0.387657  duration and avg_travel_time
116      (14, 16]     pearson     0.398565      velocity and mean_income
152      (16, 18]     pearson     0.404715      velocity and mean_income
109      (14, 16]     pearson     0.410086  duration and avg_travel_time
181      (18, 20]     pearson     0.416490  duration and avg_travel_time
157      (16, 18]    spearman     0.435369  duration and avg_travel_time
145      (16, 18]     pearson     0.479586  duration and avg_travel_time

[396 rows x 4 columns]