In [1]:
import numpy as np
import pandas as pd

In [36]:
bus_routes = pd.read_csv('./data/mta_bus/mergedRoutesStops.csv')
train_routes = pd.read_csv('./data/mta_train/mergedTrainRoutesStops.csv')
# bus_routes = bus_routes.sample(n=10, axis=0)
# train_routes = train_routes.sample(n=10, axis=0)
bus_train_routes_map_reduce = pd.concat([bus_routes, train_routes], ignore_index=True)

In [37]:
print bus_routes.shape
print train_routes.shape
print bus_train_routes_map_reduce.shape

(6350563, 11)
(514390, 11)
(6864953, 11)

In [38]:
bus_train_routes_map_reduce_dropped = bus_train_routes_map_reduce.drop(['Unnamed: 0', 'trip_id', 'end_location_id', 'start_location_id', 'arrival_time', 'departure_time'], axis=1)
bus_train_routes_map_reduce_dropped['duration'] = bus_train_routes_map_reduce_dropped['duration']*60
bus_train_routes_map_reduce_dropped.head()
bus_train_routes_map_reduce_dropped.to_csv('./data/bus_train_routes.csv', index=False)

In [39]:
bus_train_routes_map_reduce.head()

,Unnamed: 0,trip_id,end_location_id,start_location_id,start_lat,start_lon,end_lat,end_lon,arrival_time,departure_time,duration
0,0,GH_B6-Weekday-004000_BX12_1,103795,103794,40.866287,-73.826859,40.866795,-73.82785,00:40:00,00:40:22,0.366667
1,1,GH_B6-Weekday-008000_BX12_2,103795,103794,40.866287,-73.826859,40.866795,-73.82785,01:20:00,01:20:27,0.450000
2,2,GH_B6-Weekday-141900_BX12_23,103795,103794,40.866287,-73.826859,40.866795,-73.82785,23:39:00,23:39:22,0.366667
3,3,GH_B6-Weekday-137400_BX12_18,103795,103794,40.866287,-73.826859,40.866795,-73.82785,22:54:00,22:54:22,0.366667
4,4,GH_B6-Weekday-134400_BX12_25,103795,103794,40.866287,-73.826859,40.866795,-73.82785,22:24:00,22:24:22,0.366667