In [1]:
import pandas as pd
import requests
import time

### Create Nodes for Mapping

In [3]:
raw = pd.read_csv('./data/mergedData/reducedStops.csv')
df = raw.drop(['Unnamed: 0', 'id'], axis=1)

In [5]:
# fucntion used to get summary statistics and concate station types
def f(x):
     return pd.Series(dict(lat = x['lat'].mean(),
                           long = x['long'].mean(),
                           transtype = "[%s]" % ', '.join(x['type'].unique())))

df = df.groupby('assigned').apply(f)

In [7]:
def concatenatorator(x):
    x = x[1:-1]
    x = x.split(',')
    x = [y.strip() for y in x]
    x.sort()
    tmp = str()
    for i in x:
        if i == "bikeStop":
            tmp = tmp+'bi'
        elif i == "busStop":
            tmp = tmp+'bu'
        elif i == "trainStop":
            tmp = tmp+'tr'
    return tmp

finaldf = df.copy()
finaldf['assigned'] = df.index.values
finaldf['convertTrans'] = finaldf['transtype'].apply(concatenatorator)
finaldf['mikeStationId'] = finaldf['convertTrans']+finaldf['assigned'].astype(str)
finaldf.drop(['transtype', 'convertTrans'], axis=1, inplace=True)

# output the nodes created from merged function to be used in Step #3
finaldf.to_csv("./data/mergedData/nodes.csv", index=False)

### Create Edges for Mapping

In [8]:
def concatenatorator2(x):
    tmp = str()
    if x == "bikeStop":
        tmp = 'bi'
    elif x == "busStop":
        tmp = 'bu'
    elif x == "trainStop":
        tmp = 'tr'
    return tmp

# use the raw loaded data to create a complete list of all
# mta station ids and mike's assigned ids
# this is different then the groupby approach above.
mergetable = raw.drop(['Unnamed: 0', 'lat', 'long'], axis=1)
mergetable['type2'] = mergetable['type'].apply(concatenatorator2)
mergetable['type'] = mergetable['type2']
mergetable['mtaTypeStatId'] = mergetable['type']+mergetable['id'].astype(str)
mergetable.drop('type2', axis=1, inplace=True)
mergetable.head(1)

  type  assigned    id mtaTypeStatId
0   tr         0   101         tr101
1   tr         0  101N        tr101N
2   tr         0  101S        tr101S
3   tr         1   103         tr103
4   tr         1  103N        tr103N

In [9]:
trips = pd.read_csv('./data/mergedData/busTrainTrips.csv')

/home/michael/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
joined_dfs = mergetable.merge(finaldf, how='inner', on='assigned')
joined_dfs.head(1)

  type  assigned      id mtaTypeStatId        lat       long mikeStationId
0   tr         0     101         tr101  40.889377 -73.898421         butr0
1   tr         0    101N        tr101N  40.889377 -73.898421         butr0
2   tr         0    101S        tr101S  40.889377 -73.898421         butr0
3   bu         0  100587      bu100587  40.889377 -73.898421         butr0
4   tr         1     103         tr103  40.884734 -73.900801         butr1

In [11]:
#merge old and new id's in trips

joined_dfs['id'] =joined_dfs['id'].apply(lambda x: str(x).split('.')[0])
trips['mta_start_id'] = trips['mta_start_id'].apply(lambda x: str(x).split('.')[0])
trips['mta_stop_id'] = trips['mta_stop_id'].apply(lambda x: str(x).split('.')[0])


keyValuePair= joined_dfs[['id','mikeStationId']]
keyValuePair = keyValuePair.drop_duplicates()
ids = list(keyValuePair['id'].values)
reducedId = list(keyValuePair['mikeStationId'].values)

switchingDic = dict(zip(ids,reducedId))

trips['source']=trips['mta_start_id'].apply(lambda x: switchingDic[str(x)])
trips['target']=trips['mta_stop_id'].apply(lambda x: switchingDic[str(x)])

In [12]:
tripsReduced = trips[['source','target','duration']]
tripsReduced.to_csv('./data/mergedData/reducedTrips.csv')

In [21]:
#reduce trips 
tripsReduced2 = tripsReduced.groupby(['source','target']).mean()
tripsReduced2= tripsReduced2.reset_index()
tripsReduced2.to_csv('./data/mergedData/averagedTripDuration.csv')